#top-contact {
  /* margin-bottom: 1em; */
  padding-bottom: 2em;
}
.contact-form {
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contact-form label {
  display: none;
}
.left,
.right,
.submit-container {
  width: 45%;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: none;
}
.right textarea {
  height: 93%;
  max-width: 100%;
  min-width: 100%;
  margin: 0;
}
#submit-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  width: 100%;
  padding: 10px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}
#submit-btn:hover {
  transition: all 0.3s;
  background-color: var(--indigo);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.submit-container {
  margin-top: 1.5em;
}
#isRobot {
  display: block;
  text-align: end;
  font-weight: 300;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 900px) {
  .right textarea {
    margin: 1em auto;
  }

  .left,
  .right,
  .submit-container,
  #submit-btn {
    width: 75%;
    text-align: center;
  }

  #isRobot {
    width: 75%;
  }
}
