footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  padding: 10px;
}

footer span {
  font-weight: 300;
  font-size: 0.8em;
}
.footer-container {
  padding-top: 27vh;
}
.page-end {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--body-bg);
  border-top: 2px solid var(--gray-500);
  padding: 0.5em 0 0;
  margin: 0 10px;
}
.page-end a {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.page-end i {
  font-size: 0.5em;
  line-height: 0.7em;
}
.page-end p {
  text-align: center;
  font-size: 0.7rem;
  color: var(--gray-700);
  font-size: 0.7em;
  margin: 1em 0;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  40% {
    transform: scale(1);
  }
}

.fa-heart {
  /* animation: beat 1.5s infinite; */
  color: crimson;
}
/* .fa-heart:hover {
  animation: beat 0.5s infinite;
}  */
.fa-beat:hover {
  --fa-animation-duration: 0.5s;
}

.tooltip {
  position: relative;
  width: fit-content;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 75%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.7em;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.footer-SoM {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: end;
}
.footer-SoM i {
  font-size: 1em;
  color: var(--gray-800);
  padding: 0.3rem auto;
}
