.footer-container {
  /* CSS */
}

.page-end {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #dcdcdc;
  padding: 0.6em;
}
.page-end i {
  font-size: 0.7em;
  line-height: 0.2em;
}
.page-end span {
  text-align: center;
  font-size: 0.7rem;
  color: var(--gray-700);
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  40% {
    transform: scale(1);
  }
}

.fa-heart {
  animation: beat 1.5s infinite;
  color: crimson;
}
.fa-heart:hover {
  animation: beat 0.5s infinite;
}

.tooltip {
  position: relative;
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  /* background-color: #555; */
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  /* left: 50%; */
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  /* border-style: solid; */
  /* border-color: #555 transparent transparent transparent; */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
