.seeMore {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.seeMore:active {
}
.seeMore-button {
  display: flex;
  justify-content: flex-end;
  margin: 0.5em;
}

.seeMore button {
  max-width: 100px;
  border: none;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--body-bg);
  font-weight: 700;
  transition: 0.3s;
}
.seeMore button:is(:hover, :focus) {
  background-color: var(--body-bg);
}
