.seeMore-component {
  position: relative;
}

.seeMore {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  transition: all 0.3s ease-in;
}
.less {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: none;
  position: absolute;
}

.more {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  position: relative;
  height: fit-content;
}
.seeMore-projects {
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  padding: 0 0.5em 0;
}
.seeMore-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.seeMore-button-button {
  display: flex;
  justify-content: flex-end;
  margin: 0.5em;
}

.seeMore-button button {
  background-color: var(--body-bg);
  border: none;
  border-radius: 10px;
  font-weight: 700;
  margin: 0.3em auto;
  max-width: 150px;
  padding: 1em 0.5em;
  transition: 0.3s;
  font-size: 1em;
}
.seeMore-button button:hover {
  /* background-color: var(--body-bg); */
  color: var(--blue);
  cursor: pointer;
}
