.social-list {
  display: flex;
  justify-content: center;
  text-align: center;
}
.social-list ul {
  padding: 0;
}
.social-list li {
  display: inline-block;
  margin: 10px 5px;
}
.social-list .fa,
.fab {
  color: var(--dark);
  background-color: var(--body-bg);
  border: 1px solid var(--dark);
  border-radius: 25px;
  width: 50px;
}

.social-list .fa-lg {
  line-height: 0.75em;
}

.social-media {
  margin: 0px auto;
  padding: 20px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.social-media h3 {
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.social-media i,
i {
  font-size: 1.5em;
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  transition: 0.2s ease-in-out;
}

.social-media i:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.2s ease-in-out;
  background-color: var(--dark);
  color: var(--white);
  border: 1px solid var(--dark);
}

.link-text {
  display: none;
}
/* to prevent buttom from getting stuck in a hover state when pressed on mobile */
@media only screen and (max-width: 800px) {
  .social-media i:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: var(--body-bg);
    color: var(--dark);
    border: 1px solid var(--dark);
  }
}
/* .discord-btn {
  cursor: pointer;
  background: none;
  border: none;
  transition: 0.2s ease-in-out;
  display: inline-block;
  padding: 0;
}

.discord-btn:hover i {
  background-color: var(--dark);
  color: var(--white);
  border: 1px solid var(--dark);
}
.discord-btn:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.2s ease-in-out;
} */
