/* -------------ANIMATED BACKGROUND-------------  */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    var(--bg-animation-1) 50%,
    var(--bg-animation-2) 50%
  );
  /* background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 50%,
      #ffcc70 100%
    ); */
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}
.bg-thanks {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 50%,
    #ffcc70 100%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
